img{
    width: 100%;
}

h1, h2, h3{
    text-align: center;
}
p{
    text-align: center;
}
body{
    background-color: rgb(12, 8, 38);
    color: white;
}
.footer {
    background-color: #02052b;
    padding: 30px 0;
    margin-top: 50px;
}
.socio-link {
    font-size: 2rem;
    color: #d5d5d5;
    margin: 10px;
    text-decoration: none;
}
.socio-link:hover {
    color: white;
    
}
.footer p{
    color: #d5d5d5;
}